* {
  margin: 0;
}
html, body {
  height: 100%;
}
.common-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

#forLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.common-wrapper:after {
  content: "";
  display: block;
}
.common-footer, .common-wrapper:after {
  height: 50px;
}
.common-footer {
/*  background: #C0BFBC;*/
  color: #2592D0;
}

.common-footer #footer {
    line-height: 50px;
}

.common-container {
    padding: 0px 25px !important;
}

.line {
	border-bottom: 1px solid #b1b1b1;
	width: 100%;
	float: left;
	height: 1px;
	display: inline-block;
	margin: -28px 0 0 0;
}

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
	color: #939292;
	background-color: #fff;

	padding-right: 10px;
	z-index: 5;
	position: relative;
	float: left;
}

/** Navigation **/
#commonLayout {
    height: 100px;
    background: white;
}

#commonLayout .navbar-brand {
    height: 100px;
}

#commonLayout #w0 {
    height: 100px;
}

#commonLayout #w0 > li {
    top: 25%;
}

.navbar-default .navbar-brand img {
    width: 200px;
}

@media (max-width: 479px) {
    .navbar-default .navbar-brand img {
        width: 200px;
    }
}

/** Login Page **/
#login-wrapper {
    margin: -50px auto 0;
    min-height: 80px;
    width: 300px;
}

.common-wrapper #logo {
    margin: 0 auto;
    width: 280px;
}

.common-wrapper #logo > img {
    width: 280px;
}

#login-wrapper #content {
    min-height: 100px;
    margin-top: 10px;
}

/** Dashboard **/
.content {
    margin-top: 80px;
}

/** Datatables **/
.myTable {
    table-layout: fixed;
    width: 100%;
}

/** Forms **/
.text-wrap {
    word-wrap: break-word;
}

.custom-wrapper1 {
    width: 75%;
}

.custom-wrapper2 {
    width: 50%;
}

.hint {
    color: #858C8C;
    font-size: smaller;
}

.toUpper {
    text-transform:uppercase;
}

.toLower {
    text-transform:lowercase;
}

.noPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.text-left {
    text-align: left !important;
}

/** Loader **/
#loader {
  position: absolute;
/*
  left: 50%;
  top: 50%;
*/
  z-index: 1;
  width: 80px;
  height: 80px;
/*  margin: -75px 0 0 -75px;*/
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

